body { font: 14px rooney-web; width:100%;background: url('/assets/pe_body_bg.gif') repeat;margin:0 0;}
.clearBoth{clear:both;}
.floatLeft{float:left;}
a{outline: 0;}
img{border:none !important;}

.header{background: url('/assets/pe_sky_bg.png') repeat-x;height:445px;}
.header .sun{position:absolute; top: 0; right:0;}
.header .bird{position:absolute; top: 20px; left:0;}
.header .container{margin:auto;width:794px;}
.header .container .logo{float:left;border:none !important;}
.header .container .title{float:left;color:#ffffff;font-size:12px;width:455px;margin-top:40px;}

.causeContainer{margin:-180px auto 0 auto;width:794px;}
.causeContainer .causeHeader{margin:auto;width:794px;background: url('/assets/pe_cause_top.png') no-repeat;height:85px;}
.causeContainer .causeInformation{margin:auto;width:794px;background: url('/assets/pe_cause_bg.png') repeat-y;padding-left:40px;}
.causeContainer .causeInformation .image{width:200px;vertical-align:top;}
.causeContainer .causeInformation .image img{max-width:200px;border:5px solid #ffffff;-webkit-box-shadow: 1px 1px 8px 1px #555555 ; box-shadow: 1px 1px 8px 1px #555555;}
.causeContainer .causeInformation .description{float:left;}
.causeContainer .causeInformation .description h2{margin:0 0 10px 0 !important; text-align: left; color: #d6344e; font-family: rooney-web; font-weight: bold; font-style: italic; font-size: 20px; text-shadow: 1px 1px 0  #fcf1f3;}
.causeContainer .causeInformation .description .summary{color: #333; line-height: 1.5; text-align: left; font-family: rooney-web;  font-style:italic; font-size: 14px; text-shadow: 1px 1px 0  #f6f6f6;}
.causeContainer .causeInformation .description .navigation{text-align: left;}
.causeContainer .causeInformation .description a.causeLink{text-align: left; background: url('/assets/pe_cause_link.png') no-repeat; width: 210px; height: 56px; display: block; float: left; margin-left: -8px;}
.causeContainer .causeInformation .description a.backToHome{margin-top: 15px; margin-left: 15px; color: #333333; font-family: rooney-web; font-size: 14px; font-style: italic; line-height: 1.5; text-align: left; text-shadow: 1px 1px 0 #F6F6F6; display: block; float: left;}
.causeContainer .causeInformation .description a.backToHome:hover{text-decoration: none;}
.causeContainer .causeFooter{margin:auto;width:794px;background: url('/assets/pe_cause_bottom.png') no-repeat;height:83px;}

.footer{background: url('/assets/pe_footer_bg.png') repeat-x; width: 100%;height:156px; color: #83c22b; font-size: 1px;}
.footer .poweredBy{padding-top: 150px;}
.footer .poweredBy a{color: #83c22b;}