// Application level styles go in here.
header#navbar {
    display: block;
    margin: 0;
    min-height: 64px;
    padding-top: 28px;
	}

#logo { background:url(/assets/logo.png) 0 0 no-repeat; float:left; width:237px; height:42}
#logo a{height :42px; width: 237px; display:block;}
#topbar { background:url(/assets/dark_grey_bg.gif) 0 0 repeat}
.fl { float:left}
.fr { float:right}
.rightSection { float:right}
.rightSection .row { }

.rightSection ul.socialnetwork li{height:24px; vertical-align:middle; display:inline; margin:0 5px;list-style:none;}
.rightSection ul.socialnetwork li.causes{padding-bottom: 5px;vertical-align:top;}
.rightSection ul.socialnetwork li.causes a{color:#666666;}
.rightSection ul.socialnetwork li.causes a:hover{text-decoration: underline; color: #cccccc;}
.displayNone{display:none;}


