#illust { background:url(/assets/blue_bg.gif) 0 0 repeat; padding-bottom:36px}
.linebg { background:url(/assets/whiteLinebg.png) 0 0 repeat}
#how { background:url(/assets/red_bg.gif) 0 0 repeat; padding-top:40px; padding-bottom:80px}
#illust .mainDiv { background:url(/assets/pic_man.png) 0 0 no-repeat; display:block}




#footer { background:url(/assets/footer_bg.gif) 0 0 repeat-x #861617}
#footer p { text-align:center; color:#cccccc; font:normal 15px Georgia, "Times New Roman", Times, serif; margin:0px; padding:10px 0; font-style:italic}





/***********************************css for participants page*****************************************/
#wraper #participants .container .listingWraper { padding:58px 0 0 0; width:925px}
#wraper #participants .container .listingWraper .partTitle  {}


/***********************************css for registration page*****************************************/
#illust .causeDiv { background:url(/assets/cause.png) 0 0 no-repeat; min-height:358px}
#illust .causeDiv .span8{width: 573px; float: right;}
#illust .form-horizontal .control-group{float: left;}
#illust .form-horizontal .controls{margin-left: 0px; padding-top: 6px;}
#partner_form .control-label{color: #2F5B7C; font-weight: bold; text-align: left; width: 200px; display:block;}
#partner_form .large-label{width: 400px !important; display:block;}
#illust .heading2 { background:url(/assets/registerTitl1.png) 0 0 no-repeat; width:389px; height:47px; margin:0 0 19px 0}
#illust .registerLink { text-align:center; width: 123px; border-radius:14px; -moz-border-radius:14px; -webkit-border-radius:14px; height:45px; background:#33363b; display:block; padding-top:10px; background:url(/assets/bt_bg.png) 0 0 repeat; margin-top: 20px;}

#illust .nextLink { font-style:italic !important; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; width:98px; display:block; margin:0 auto;  text-align:center; color:#33363b; font:bold 20px Georgia, "Times New Roman", Times, serif; line-height:36px; height:36px; background: #dddddd; /* Old browsers */
    background: -moz-linear-gradient(top,  #dddddd 0%, #f8f8f8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dddddd 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dddddd 0%,#f8f8f8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dddddd 0%,#f8f8f8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dddddd 0%,#f8f8f8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
}
#illust .registerText  { width:401px ; padding:2px; height:37px; margin:0 20px 0 0; padding:2px; -webkit-border-radius: 5px; -moz-border-radius:5px; background:#fff;-webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5); box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);}

#illust .embedcode { background:url(/assets/embed_bg.png) center top no-repeat;  min-height:358px}
#illust .embedcode .titles{margin-bottom: 10px;}
#illust .embhead1 { background:url(/assets/embedcode.png) 0 0 no-repeat; width:600px; height:30px; margin:0 auto 5px auto;}
#illust .embedcode h3 {height: 27px; margin: 20px auto 0;}
#illust .embedcode h3.fullPageTitle{background:url(/assets/full_page_title.png) 0 0 no-repeat; width: 97px;}
#illust .embedcode h3.sectionPageTitle{background:url(/assets/section_page_title.png) 0 0 no-repeat; width: 186px;}
#illust .embedcode .embedcodeContainer{background:url(/assets/enbedcode_container_background.png) 0 0 repeat; padding: 5px 5px 20px 5px;}

#illust .embedcode .copyToClipboard{background: url(/assets/embedcode_operations.png) 0 23px repeat; height: 23px; width: 24px; display:block; float: left;}
#illust .embedcode .copyToClipboard:hover{background: url(/assets/embedcode_operations.png) 0 0 repeat; height: 23px; width: 24px; display:block; float: left;}

#illust .embedcode .scrollToHow{background: url(/assets/embedcode_operations.png) 24px 23px; height: 23px; width: 24px; display:block; float: left;}
#illust .embedcode .scrollToHow:hover{background: url(/assets/embedcode_operations.png) 24px 46px; height: 23px; width: 24px; display:block; float: left;}

#illust .embedcode .choice{background:url(/assets/red_or.png) 0 0 no-repeat; width: 61px; height: 64px; margin-top: 75px;}

#illust .embedcode .embedcodeContainer .actions{float: right; margin-right: 25px;}
#illust #errorSection .iframeCode {font-size:9px; padding:5px; border-radius: 5px; -webkit-border-radius:5px; -moz-border-radius:5px; background:#fff;-webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5); box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5); width:330px; min-height: 150px; margin:20px 10px 20px 15px;}

#illust #errorSection .meassage {text-align:center; color:#fff; font:bold 24px Georgia, "Times New Roman", Times, serif; font-style:italic}
#illust #errorSection .socialIcons { width:351px; margin:0 auto}
#illust #errorSection .socialIcons .SocialLink {   display:block; width:139px; padding-right:15px;  text-align:center; height:42px; line-height:42px; border-radius:10px; background:url(/assets/sprite_icon1.png) 0 0 no-repeat; -moz-border-radius:10px; -webkit-border-radius:10px; display:block; margin:0 auto;  text-align:center; color:#33363b; font-style:italic !important; font:bold 20px Georgia, "Times New Roman", Times, serif; line-height:36px; height:36px; background: #dddddd; /* Old browsers */
    background: -moz-linear-gradient(top,  #dddddd 0%, #f8f8f8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dddddd 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dddddd 0%,#f8f8f8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dddddd 0%,#f8f8f8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dddddd 0%,#f8f8f8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f8f8f8',GradientTyp;e=0 ); /* IE6-9 */}
#illust #errorSection .socialIcons .SocialLink span { background:url(/assets/sprite_icon1.png) 0 0 no-repeat; padding-left:30px;}
#illust #errorSection .socialIcons .SocialLink .fb  { background-position:0 0 }
#illust #errorSection .socialIcons .SocialLink .twit  { background-position:0 -76px }
#illust .inline-helper{font-size: 22px; color: #D6344E; display: inline-block;}

/**
 * THE STYLES USED BELOW ARE NOT APPLICABLE UNTIL THE PARTICIPANTS ARE NOT DISPLAYED.
 **/
#participants {min-height: 500px;}
#participants .container .listingWraper {padding:58px 0 0 0; width:925px; margin-bottom:32px}
#participants .container .listingWraper .partTitle  {background:url('/assets/participants.png') 0 0 no-repeat; width:394px; height:45px; margin:0 0 51px 0}
#participants .container .listingWraper .list1 { border-right:1px solid #cbcbcb}
#participants .container .listingWraper .list2 { border-right:1px solid #cbcbcb; border-right:1px solid #cbcbcb}

ul.listing1 { list-style:none}
ul.listing1 li { color:#2f5b7c; font:normal 16px Georgia, "Times New Roman", Times, serif; font-style:italic ; margin:0 0 16px 0 }
ul.listing1 li a {color:#2f5b7c; font:normal 16px Georgia, "Times New Roman", Times, serif; font-style:italic; text-decoration:underline}
ul.listing1 li a.active,ul.listing1 li a:hover {color:#8da2b1 !important}
ul.listing2 { list-style:none}
ul.listing2 li { color:#2f5b7c; font:normal 16px Georgia, "Times New Roman", Times, serif; font-style:italic ; margin:0 0 16px 0 }
ul.listing2 li a {color:#2F5B7C; font:normal 16px Georgia, "Times New Roman", Times, serif; font-style:italic; text-decoration:underline}
ul.listing2 li a.active,ul.listing2 li a:hover {color:#8da2b1 !important}

ul.listing3 { list-style:none}
ul.listing3 li { color:#2f5b7c; font:normal 16px Georgia, "Times New Roman", Times, serif; font-style:italic ; margin:0 0 16px 0 }
ul.listing3 li a {color:#2f5b7c; font:normal 16px Georgia, "Times New Roman", Times, serif; font-style:italic; text-decoration:underline}
ul.listing3 li a.active,ul.listing3 li a:hover {color:#8da2b1 !important}

.alignCenter{text-align: center;}