// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, footer, article, time {
    border: 0 none;
    font-family: rooney-web, inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: medium none;
    padding: 0;
    vertical-align: baseline;
}

img{border:none !important;}
body {
    line-height: 1.5;
    margin: 1.5em 0;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: 400;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a img {
    border: medium none;
}
.left {
    float: left !important;
}
.right {
    float: right !important;
}

.clear {
    clear: both !important;
}

.no-bold {
    font-weight: normal !important;
}

html, body {
    background: #E9EEF2;
    color: #353842;
    font-family: rooney-web, Arial,Helvetica,Sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
    font-weight: bold;
  }
h2 {
    font-size: 45px;
    letter-spacing: -0.02em;
    line-height: 65px;
    margin-bottom: 5px;
}
h3 {
    font-size: 25px;
    line-height: 30px;
    margin: 20px 0 10px;
}
h4 {
    font-size: 18px;
    line-height: 20px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
hgroup {
    display: block;
    margin: 12px 0;
}
hgroup h2, hgroup h3, hgroup h4 {
    margin: 2px 0;
}
p {
    font-size: 14px;
    line-height: 1.4em;
    margin: 5px 0 15px;
}
a {
    color: #0884cb;
    text-decoration: none;
}
a:hover, a:focus {
    color: #0884cb;
    text-decoration: none;
}
figure {
    margin: 10px;
}
figure img {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    margin: 10px 0;
    padding: 5px;
}
figcaption {
    clear: both;
    color: rgba(255, 255, 255, 0.6);
    display: block;
    font-size: 11px;
}
hr {
    display: none;
}
table {
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px #333333;
}
th {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
}
strong {
    font-weight: bold;
}
em {
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
}
img, video, object {
    max-width: 100%;
}
code {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    display: block;
    font-family: rooney-web, Courier,monospace;
    margin: 20px 0;
    padding: 10px;
}
form ol {
    list-style: none outside none;
}
legend {
    color: rgba(255, 255, 255, 0.8);
    font-size: 22px;
    text-transform: capitalize;
}
label {
    color: rgba(255, 255, 255, 0.8);
}
input, textarea {
    outline: medium none;
}

.bold {
    font-weight: bold !important;
}

.text-center {
    text-align: center !important;
}

/*.error {
    background: none repeat scroll 0 0 #EBBABB;
    border-radius: 0 0 18px 18px;
    color: #87090C;
    display: block;
    margin: 0 -4px -10px -10px;
    padding: 5px 10px;
    behavior: url(PIE.htc);
}*/



#illust { background:url(/assets/blue_bg.gif) 0 0 repeat; padding-bottom:36px}
#linebg { background:url(/assets/whiteLinebg.png) 0 0 repeat}
#how { background:url(/assets/red_bg.gif) 0 0 repeat; padding-top:40px; padding-bottom:80px}
#illust .mainDiv { background:url(/assets/pic_man.png) 0 0 no-repeat; display:block}

#illust .rightInner { padding:25px 0 0 0}
#illust .rightInner h3.callOut{text-transform: uppercase;color: #2F5B7C;font-size:22px;font-weight:bold;}
#illust .rightInner .heading1 { background:url(/assets/website_error.png) 0 0 no-repeat; widht:461px ; height:100px; margin:0 0 10px 0}
#illust .rightInner .homeLink1 {  text-align:center; width: 390px; border-radius:14px; -moz-border-radius:14px; -webkit-border-radius:14px; height:62px; background:#33363b; display:block; padding-top:10px; background:url(/assets/bt_bg.png) 0 0 repeat; margin: 0 0 15px 0 }
#illust .rightInner .homeLink1 .socialgood { font-style:italic !important; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; width:368px; display:block; margin:0 auto;  text-align:center; color:#33363b; font:bold 20px rooney-web, "Times New Roman", Times, serif; line-height:53px; height:53px; background: #dddddd; /* Old browsers */
background: -moz-linear-gradient(top,  #dddddd 0%, #f8f8f8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #dddddd 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #dddddd 0%,#f8f8f8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #dddddd 0%,#f8f8f8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #dddddd 0%,#f8f8f8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
 }
 #illust .rightInner .homeLink1 .socialgood:hover {background: #f8f8f8;background: -moz-linear-gradient(top,  #dddddd 0%, #dddddd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f8f8f8 0%,#dddddd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f8f8f8 0%,#dddddd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f8f8f8 0%,#dddddd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */}
#how .container .row .rightred .paralanding2 {color: #C5C5C6;font: italic 16px/22px rooney-web,"Times New Roman",Times,serif;margin: 0 0 40px;}


#how .container .row .redsection { background:url(/assets/404couses.png) 24px 0 no-repeat; width:317px; height:272px}
#how .container .row .redsection { background:url(/assets/404couses.png) 24px 0 no-repeat; width:317px; height:272px}
#illust .rightInner .paralanding1 { font:normal 16px rooney-web, "Times New Roman", Times, serif; font-style:italic; color:#2f5b7c; margin:0 0 15px 0; line-height:18px}

#how .container .row .rightred { background:url(/assets/proud_errors.png) 0 100% no-repeat; padding:0 0 85px 0}
#how .container .row .rightred .itworks { background:url(/assets/howItworks.png) 0 0 no-repeat; width:252px; height:37px; padding:0;}
#how .container .row .rightred .row {margin-bottom: 10px;}
#how .container .row .rightred .titles{color: #fff; font-size: 18px; font-style: italic;}
#how .container .row .rightred .prightred { color:#ccc; font:normal 15px rooney-web, "Times New Roman", Times, serif; line-height:18px; margin:0 0 2px 0; font-style:italic}
#how .container .row .rightred .cause .yesbtn {font-size:12px; color:#333; font-family: rooney-web,rooney-web, "Times New Roman", Times, serif; font-style:italic; width:133px; height:31px; background:url(/assets/yesbtn.png) 0 0 no-repeat; line-height:31px; display:block; text-align:center}
#how .container .row .rightred .oopsbox {
    background: url("/assets/oopsbox_image.png") no-repeat scroll 0 0 transparent;
    height: 250px;
}

#how .container .row .rightred .goTop{margin:210px 0 0 573px; height: 32px; width:32px; background: url(/assets/scroll_top.png) 0 0 no-repeat; display: inline-block; cursor: pointer;}

#how .container .row .rightred .oops {
    background: url("/assets/bottom_bg2.png") no-repeat scroll 0 0 transparent;
    padding-left: 160px;
    padding-top: 35px;
    width: 340px;
}
#how .container .row .rightred .oops .titleoops {
    background: url("/assets/oops1.png") no-repeat scroll 0 0 transparent;
    height: 36px;
    width: 347px;
}
#how .container .row .rightred .oops p {
    color: #FFFFFF;
    font-family: rooney-web, rooney-web,"Times New Roman",Times,serif;
    font-size: 13px;
}
#how .container .row .rightred .cause {
    font-family: rooney-web, rooney-web,"Times New Roman",Times,serif;
    padding-left: 170px;
    padding-top: 35px;
    width: 340px;
}
#how .container .row .rightred .cause h2 {
    color: #D6344E;
    font-family: rooney-web, rooney-web,"Times New Roman",Times,serif;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    line-height: 1;
    margin: 0;
}
#how .container .row .rightred .cause p {
    color: #7D9DB6;
    font-family: rooney-web, rooney-web,"Times New Roman",Times,serif;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 5px;
}
#how .container .row .rightred .cause p.normtext {
    font-size: 9px;
    font-style: italic;
}
#how .container .row .rightred .cause p.normtext a {
    color: #939597;
    padding-left: 5px;
}

.participationCount a{text-transform: uppercase;border-bottom:1px solid #2F5B7C; color: #2F5B7C; font: 12px rooney-web,"Times New Roman",Times,serif; font-weight: bold; margin-bottom: 15px; }
.participationCount a:hover{color:#ffffff;border-bottom:1px solid #ffffff;}
.participationCount a:hover{text-decoration: none;}

#footer { background:url(/assets/footer_bg.gif) 0 0 repeat-x #861617; height:100px; margin-top:0px}
#footer p { text-align:center; color:#cccccc; font:normal 15px rooney-web, "Times New Roman", Times, serif; margin:0px; padding:10px 0; font-style:italic}





