<% items.each do |partner_item| %>
  <li>
    <% unless partner_item.new_record? %>
      <% link = "http://#{partner_item.url}" %>
      <%= link_to(link, link, :target => "_blank") %>
    <% else %>
      &nbsp;
    <% end %>
  </li>
<% end %>