<% list1, list2, list3 = tableize_partners(@partners) %>
<div class="container">
  <div class="participatingweb">
    <h2>
      <%= image_tag("participants.png", :alt => "Participating Websites") %>
    </h2>
    <div class="col pull-left">
      <ul class="listing1">
        <%= render(:partial => "partners/items", :locals => {:items => list1}) %>
      </ul>
    </div>
    <div class="col pull-left">
      <ul class="listing1">
        <%= render(:partial => "partners/items", :locals => {:items => list2}) %>
      </ul>
    </div>
    <div class="col pull-left last">
      <ul class="listing1">
        <%= render(:partial => "partners/items", :locals => {:items => list3}) %>
      </ul>
    </div>
  </div>
</div>
