<div class="container" id="partner_form_container">
  <div class="pull-left illustimage">
    <%= image_tag("patched_parachute.png", :alt => "parachute") %>
  </div>
  <div class="pull-right registerform res_width_auto">
    <h2>
      <%= image_tag("registration_title.png", :alt => "Register your website") %>
    </h2>
    <%= simple_form_for(:partner, :url => partners_path(:format => :json),
      :html => {:class => 'horizontal-form', :id => "partner_form"},
      :remote => true) do |f| %>

      <%= f.input :theme, :collection => @theme_names,
        :label => "Choose Cause Category:",
        :label_html => {:class => ""},
        :required => false,
        :prompt => "Any Category",
        :input_html => {:class => ''} %>

      <%= f.input :url,
        :input_html => {:class => 'input', :maxlength => 50},
        :label => "Your Website URL:",
        :label_html => {:class => ""},
        :required => false,
        :placeholder => 'www.example.com' %>

      <%= submit_tag("Next", :class => "nextbutton") %>
      <span class="loading">Please Wait...</span>
    <% end %>

  </div>
</div>

<div class="embedcode">
  <h2>
    <%= image_tag("embedcode.png", :alt => "Embed Code Title") %>
  </h2>
  <div class="middlecont">
    <div class="fullpage pull-left embedcodeContainer">
      <h3>
        <%= image_tag("full_page_title.png", :alt => "Full page") %>
      </h3>
      <div class="outerbox">
        <div class="iframeCode" id="partner_page_uuid"></div>
        <div class="actions">
          <%= link_to("", "javascript:void(0)", :class => "scrollToHow", :title => "How it works?") %>
          <%= link_to("", "javascript:void(0)", :class => "copyToClipboard", :title => "Copy") %>
        </div>
      </div>
    </div>
    <div class="orbox">
      <span class="helper"></span>
      <%= image_tag("orbg.png", :alt => "OR") %>
    </div>
    <div class="fullpage pull-right embedcodeContainer">
      <h3>
        <%= image_tag("section_page_title.png", :alt => "Section of a Page") %>
      </h3>
      <div class="outerbox">
        <div class="iframeCode" id="partner_section_uuid"></div>
        <div class="actions">
          <%= link_to("", "javascript:void(0)", :class => "scrollToHow", :title => "How it works?") %>
          <%= link_to("", "javascript:void(0)", :class => "copyToClipboard", :title => "Copy") %>
        </div>
      </div>
    </div>
  </div>
  <h3 class="meassage">
    Thank you for supporting prouderros.org. Spread the word.
  </h3>
  <div class="socialIcons">
    <%= link_to('<span class="fb">facebook</span>'.html_safe,"#",:onclick => "postToFeed(); return false;", :class => "pull-left SocialLink") %>
    <%= link_to('<span class="twit">twitter</span>'.html_safe, "http://twitter.com/share?url=http%3A%2F%2Fprouderrors.org%2F&text=Give meaning to your 404 ERROR pages! via Proud error", :class => "pull-right SocialLink", :target => "_blank") %>
  </div>
</div>
<%= hidden_field_tag :app_base_url, SiteConfig.app_base_url %>

<div id='fb-root'></div>
<script src='http://connect.facebook.net/en_US/all.js'></script>
<script type="text/javascript">
  FB.init({appId: "<%= FACEBOOK_CONFIG[:app_id] %>", status: true, cookie: true});

  function postToFeed() {

    // calling the API ...
    var obj = {
      method: 'feed',
      link: 'http://www.prouderrors.org/',
      picture: 'http://www.prouderrors.org/assets/cause.png',
      name: 'Proud Errors',
      caption: '404s for a cause.',
      description: 'MAKE BETTER USE OF YOUR ERROR PAGES. Rather than being ashamed of your website errors, be proud of them.Install our application and we\'ll publish a beautiful error page with a global cause, every time a page is not found or an error occurs on your website.Together we can make a difference.'
    };

    function callback(response) {
      document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
    }

    FB.ui(obj, callback);
    return false;
  }
</script>

