<div class="span6">
  <div class="page-header">
    <h1>Proud Errors <small>Spread the social awareness</small></h1>
  </div>
</div>  
<div class="span8">
  <h3>Help:</h3>
</div>
<div class="span8">
  
</div>