<ul class="listing2">
  <% themes.each do |theme|  %>
    <li class="<%= active_class(theme) %>">
      <%= link_to("#{theme['theme']}".html_safe, list_theme_causes_path(theme['theme'].parameterize)) %>
    </li>
  <% end %>
</ul>
