<div class="causeInformation">
  <table width="100%" cellpadding="5" cellspacing="0" border="0">
    <tr>
      <td class="image">
        <%= image_tag(@cause.medium_image_url) %>
        <br />
        <span class="prouderrorLink">
          <%= link_to("Powered by Proud Errors", "http://www.prouderrors.org") %>
        </span>
      </td>
      <td class="description">
        <h2 class="title"> <%= @cause.title %></h2>
        <div class="summary"><%= @cause.summary %></div>
        <div class="navigation">
          <%= link_to("Yes, I want to help", @cause.project_url, :title => "Yes I want to help", :class => "causeLink", :target => "_blank") %>
        </div>
      </td>
    </tr>
  </table>
</div>