<link type="text/css" rel="stylesheet" media="all" href="http://<%= SiteConfig.app_base_url %>/cause_assets/proud_error.css" />
<script type="text/javascript" src="//use.typekit.net/ohv6wko.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<div class="header">
  <img src="<%= "http://#{SiteConfig.app_base_url}/assets/pe_bird.png" %>" alt="bird"  class="bird" />
  <img src="<%= "http://#{SiteConfig.app_base_url}/assets/pe_sun.png" %>" alt="sun"  class="sun" />

  <div class="container">
    <div class="logo"><a href="http://<%= SiteConfig.app_base_url %>" target="_blank"> <img src="http://<%= SiteConfig.app_base_url %>/assets/img.png" alt="errorImg"/></a></div>
    <div class="title">
      <h1><img src="http://<%= SiteConfig.app_base_url %>/assets/pe_oops_message.gif" alt="errorImg" /></h1>
      <h2>We are proud of it though, as it now provides an opportunity for us to do some social good.</h2>
    </div>
  </div>
</div>

<div class="causeContainer">
  <div class="causeHeader"></div>

  <div class="causeInformation">
    <table width="80%" cellpadding="5" cellspacing="0" border="0">
      <tr>
        <td class="image"><%= image_tag(@cause.medium_image_url) %></td>
        <td class="description">
          <h2> <%= @cause.title %></h2>
          <div class="summary"><%= @cause.summary %></div>
          <div class="navigation">
            <%= link_to("", @cause.project_url, :title => "Yes I want to help", :class => "causeLink", :target => "_blank") %>
            <%= link_to("Back to the homepage", "http://www.#{@partner.url}", :class => "backToHome") %>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="causeFooter"></div>
</div>

<div class="footer">
  <div class="poweredBy">
    A conscious initiative by
    <%= link_to "Ruby on Rails Development Team", "http://www.idyllic-software.com", :target => "_blank" %> @ <%= link_to("Idyllic Software", "http://www.idyllic-software.com", :target => "_blank") %>
  </div>
</div>