<div class="container">
  <div class="allcauses">
    <h2>
      <%=  image_tag("all_causes.png", :alt => "causes") %>
    </h2>

    <div class="breadcrumb clearfix">
      <ul class="pull-left">
        <li>
          <%= link_to "Causes", causes_path %>
          <span class="divider">/</span>
        </li>
        <li class="active">
          <%= params[:theme].titleize %>
        </li>
      </ul>
    </div>

    <div class="verticalnav pull-left">
      <%= render(:partial => "causes/themes", :locals => {:themes => @themes}) %>
    </div>
    <div class="linksbox pull-left">
      <ul class="listing1">
        <% if @causes.present? %>
          <% @causes.each do |cause| %>
            <li>
              <%= link_to cause.title, cause_path(cause.theme.parameterize, cause.title.parameterize, cause.project_identifier) %>
            </li>
          <% end %>
        <% else %>
          <li>
            No Active initiatives for this category.
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
