<div class="container" id="wrapper">
  <div class="allcauses">
    <h2>
      <%=  image_tag("the_cause.png", :alt => "causes") %>
    </h2>

    <div class="breadcrumb clearfix">
      <ul class="pull-left">
        <li>
          <%= link_to "Causes", causes_path %>
          <span class="divider">/</span>
        </li>
        <li>
          <%= link_to @cause.theme, list_theme_causes_path(@cause.theme.parameterize) %>
          <span class="divider">/</span>
        </li>
        <li class="active">
          <%= @cause.title %>
        </li>
      </ul>
    </div>

    <div class="causeContainer">
      <div class="causeInformation">
        <table width="100%" cellpadding="5" cellspacing="0" border="0">
          <tr>
            <td class="image"><%= image_tag(@cause.medium_image_url) %>
            </td>
            <td class="description">
              <h2 class="causeTitle"> <%= @cause.title %></h2>
              <div class="summary"><%= @cause.summary %></div>
              <div class="navigation">
                <%= link_to("", @cause.project_url, :title => "Yes I want to help", :class => "causeLink", :target => "_blank") %>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<% content_for :meta_description do %>
  <meta name="Description" content="<%= @cause.summary %>" />
<% end %>
