<div id="illustration">
  <div class="container">
    <div id="introduction_container">
    <div class="pull-left illustimage">
      <%= image_tag("pic_man.png") %>
    </div>
    <div class="pull-right res_width_auto websiteerrors">
      <h2>
        <%= image_tag("website_error.png", :alt => "Registration Title") %>
      </h2>
      <h3>Recycle your 404 error pages</h3>
      <p>Donate your website 404 page to a cause and be proud of it.</p>
      <p>Install our application and we'll publish a beautiful error page with a global cause, every time a page is not found or an error occurs on your website.</p>
      <p>Together we can make a difference.</p>
      <p class="lookwho">
        <%= link_to("Look who is helping", list_partners_path) %>
      </p>
      <%= link_to("<span class='socialgood'>I am in.  Get me started!</span>".html_safe, "javascript:void(0)", :class => "startbutton getStartedLink") %>
    </div>
    </div>

    <%= render :file => "partners/new" %>

  </div>
</div>

<div id="howitworks">
  <div class="container">
    <div class="column1 pull-left res_width_auto">
      <%= image_tag("404causes.png", :alt => "404 Cause Image") %>
    </div>
    <div class="column2 pull-right res_width_auto">
      <h2>&nbsp;</h2>
      <p class="subtitle">Beautiful and meaningful error pages in minutes!</p>
      <div class="pagedemo clearfix">
        <div class="pull-left">
          <%= image_tag("complete_page.png", :alt => "Complete Page") %>
          <p>Complete Page</p>
        </div>
        <div class="orbox">
          <span class="helper"></span>
          <%= image_tag("orbg.png", :alt => "OR") %>
        </div>
        <div class="pull-right">
          <%= image_tag("page_section.png", :alt => "Complete Page") %>
          <p>Section of Page</p>
        </div>
      </div>
      <div class="prouderrors_pointer"> 
        <%= image_tag("proud_errors.png", :alt => "Proud Errors") %>
      </div>
    </div>
  </div>
</div>

<% content_for :meta_description do %>
  <meta name="Description" content="HTTP 404 stands for Page not found. When a page is not found, this page is generated. ProudErrors enables you to recycle the web waste by displaying a global cause on those pages." />
<% end %>