<h1>Contact</h1>
<%= simple_form_for @contact, :url => contacts_path, :html => {:class => "form-horizontal"} do |f| %>
  <%= f.input :name, :input_html => { :class => 'span3' }, :placeholder => 'Name' %>
  <%= f.input :email,:input_html => { :class => 'span3' }, :placeholder => 'Email' %>
  <%= f.input :message, :as => :text, :input_html => { :class => 'span3', :cols => "40", :rows => "10"}, :placeholder => "Message" %>

  <div class="controls">
    <%= f.submit "Submit", :class => 'btn btn-primary' %>
  </div>
<% end %>
