#wrapper table {border: 1px solid rgba(255, 255, 255, 0.2); box-shadow: 0 0 25px #333333;}
#wrapper table td.image{vertical-align: middle; padding-left: 10px;}
#wrapper table td.image img{max-width:200px;border:5px solid #ffffff;-webkit-box-shadow: 1px 1px 8px 1px #555555 ; box-shadow: 1px 1px 8px 1px #555555;}
#wrapper table td.description{margin-left: 10px;}
#wrapper table td .causeTitle{line-height: 25px; padding-left: 15px; text-align: left; color: #D6344E; font-family: rooney-web; font-size: 20px; font-style: italic; font-weight: bold; margin: 0 0 10px !important; text-shadow: 1px 1px 0 #FCF1F3; padding-top: 15px;}
#wrapper table .summary{margin-left: 15px; color: #333333; font-family: rooney-web; font-size: 14px; font-style: italic; line-height: 1.5; text-align: left; text-shadow: 1px 1px 0 #F6F6F6;}
#wrapper .nav-list li{border-right: 1px solid #2F5B7C; padding-right: 15px;}
#wrapper .nav-list li a{margin-right: 0px;}
#wrapper .causeList{border-left: 1px solid #2F5B7C; margin-left: -16px;}
#wrapper .causeList li{list-style: none; padding: 3px 15px;}
#wrapper .navigation{text-align: left; padding-left: 15px;}
#wrapper .causeLink{ background: url("/assets/pe_cause_link.png") no-repeat scroll 0 0 transparent; display: block; float: left; height: 56px; margin-left: -8px; text-align: left; width: 210px;}
#wrapper #cause_display_container{min-height: 450px;}