/*** OVERRIDE BOOTSTRAP RESPONSIVE ***/
@media only screen  and (max-width: 925px) {
	body {padding:0 !important}
	.container {max-width:90%}
	#logo {padding-bottom:20px; margin:0 auto; float:none}
	#header #homeright {float:none; margin:0 auto}
	#howitworks .column2 .prouderrors_pointer {left:0}
	#registration .registerform {float:none; margin:0 auto}
	#registration .pull-left {float:none; text-align:center}
	#howitworks .column1 {text-align:center; float:none; width:auto}
    #howitworks .column2 {margin:0 auto; float:none}
	.embedcode .fullpage {float:none; margin:0 auto}
	.embedcode .orbox {position:static; height:auto; padding:10px 0}
    .participatingweb .col {width:auto; border-right:0; float:none}
	.participatingweb .col ul.listing1 {min-height:auto}
	.allcauses .linksbox {border:none; width:auto; float:none}
	.allcauses .verticalnav ul.listing2 {display:none}
	.allcauses .verticalnav {width:auto}
	.allcauses .verticalnav ul {padding:0 25px}
	.allcauses .verticalnav li {min-width:100%; width:auto}
	.sortcauses {display:block}
}
@media only screen  and (max-width: 700px) {
	#howitworks .column2 .pagedemo .pull-left, #howitworks .column2 .pagedemo .pull-right {float:none}
	#howitworks .column2 .pagedemo {text-align:center}
	#howitworks .column2 .pagedemo .orbox {position:static; height:auto; padding:10px 0}
	.embedcode .socialIcons .SocialLink {float:none; margin-bottom:10px}
}