<footer id="footer">
  <p>A conscious initiative
    by <a href="http://www.idyllic-software.com" target="_blank">Ruby on Rails Development</a> team @
    <a href="http://www.idyllic-software.com" target="_blank">Idyllic Software</a> | Causes courtesy: <a href="http://www.globalgiving.org/" target="_blank">globalgiving</a>
  </p>
  <p>&copy; 2012 Idyllic Software. All Rights Reserved</p>
</footer>
