<header id="header">
  <div class="container">
    <h1 class="pull-left" id="logo">
      <%= link_to("&nbsp;".html_safe, root_path) %>
    </h1>
    <div id="homeright" class="pull-right">
      <%= render(:partial => "layouts/social") %>
    </div>
  </div>
</header>