<ul class="nav">
<li><%= link_to("View all causes", causes_path()) %></li>
<%# Link to the Facebook page %>
<li class="margin_right"><%= link_to(image_tag('facebook.png'), "http://www.facebook.com/ProudErrors", :target => "_blank") %></li>

<%# Link to the Prouderror Twitter  page %>
<li class="margin_right_none"><%= link_to(image_tag('twiter.png'), "https://twitter.com/prouderrors", :target => "_blank") %></li>
</ul>