<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title_content %>
      <%= yield :title %>
    </title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/ohv6wko.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Proud Error"/>
    <meta property="og:site_name" content="Proud Error"/>
    <meta property="og:url" content="http://prouderrors.org"/>
    <meta property="og:image" content="http://www.prouderrors.org/assets/logo.png"/>
    <meta property="og:description" content="Give meaning to your 404 and 500 errors pages with ProudErrors!"/>
    <meta property="http://opengraph.org/schema/title" content="Proud Error"/>
    <meta property="http://opengraph.org/schema/url" content="http://www.prouderrors.org"/>
    <meta property="http://opengraph.org/schema/description" content="Donate your website error page to a cause and be proud of it."/>
    <%= yield :meta_description %>
  </head>
  <body>
    <%= render :partial => "layouts/contactable" %>

    <%= render :partial => "layouts/header" %>

    <%= yield %>
    
    <%= render 'layouts/footer' %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26787585-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>